body{
	background: url("../img/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header{
	margin: auto;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

#title{
	border: 5px solid black;
	background-color: #4d94ff;
	font-size: 30px;
	width: 350px;
	margin: auto;
	padding: 5px;
}

#status{
	border: 5px solid black;
	background-color: #b3d9ff;
	font-size: 30px;
	width: 320px;
	margin: auto;
	padding: 5px;
	margin-top: 15px;
}

button[type="button"] {
	margin-top: 10px;
	background-color: #b3d9ff;
	border: 5px solid black;
}

#game-area{
	width: 600px;
	margin-top: 50px;
	margin: auto;
}

#top{
	height: 200px;
	border-bottom: 5px solid black;
}

#middle{
	height: 200px;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
}

#bottom{
	height: 200px;
	border-top: 5px solid black;
}

.a{
	width: 33%;
	float: left;
	height: 100%;
	box-sizing: border-box;
}

.b{
	width: 33%;
	float: left;
	height: 100%;
	box-sizing: border-box;
}

.c{
	width: 33%;
	float: left;
	height: 100%;
	box-sizing: border-box;
}

.one{
	border-right: 5px solid black;
}

.two{
	border-right: 5px solid black;
	border-left: 5px solid black;
}

.three{
	border-left: 5px solid black;
}

.tile{
	height: 150px;
	width: 150px;
	margin: auto;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 150px;
}

#status.red{
	background-color: red;
}

#status.green{
	background-color: green;
}

#status.white{
	background-color: #fff;
}
















